  <!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="font-weight: bold">Chats</ion-title>
    <ion-buttons start>
        <button ion-button color="blue" clear (tap)="dismiss()">
          <ion-icon name="arrow-back" style="zoom:2.0;"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-searchbar (tap) = "searchUser()"></ion-searchbar>
    </ion-item>
      <ion-item *ngFor = "let people of chatCollection" (tap) = "chatBox(people.data.uid)">
      
        <ion-row > 
          <ion-col col-3>
           <ion-thumbnail>
           <img style="border-radius: 50%" [src] = "people.data.fileURL">   
           </ion-thumbnail>
           </ion-col>
           <ion-col col-9>
           <h2 style="border-top: 10%; font-weight: bold">{{people.data.displayName}}</h2>
            <!-- <p *ngFor = "let message of messageCollection">{{message.data.msessageBody}}</p>  -->
            </ion-col>
          </ion-row>
          
      
       </ion-item>
    

</ion-content>

<!-- <ion-footer>
    <ion-item>  
        <ion-input type = "text" placeholder = "Type your message" [(ngModel)] = "messageInterface.message"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button block (tap) = "sendMessage()" >Send</button>
      </ion-item>  
</ion-footer> -->
