


  <ion-header no-border>
  <header-one title="Home"></header-one>
</ion-header>


<ion-content>


  
  <travel-category></travel-category>
  


  <ion-row>
    <ion-col col-8 padding-left>
      <h2>Recommended Destinations</h2>
    </ion-col>
    
  </ion-row>


  <recommend-destination></recommend-destination>
  <ion-row>
    <ion-col col-8 padding-left>
      <h2>Trips of the Day</h2>
    </ion-col>
  
  </ion-row>
    <ion-item>
      <ion-slides>
        <ion-slide *ngFor = "let trip of publicTripList" (tap) = "tripDetails(trip.id)">
          
          <ion-card>
            <div *ngIf = "trip.data.tripFileURL[0]">
              <img [src] = "trip.data.tripFileURL[0]">
            </div> 
               {{trip.data.tripName}}
          </ion-card> 
        </ion-slide>     
      </ion-slides>
    </ion-item>
    

  
</ion-content>