


  <ion-header no-border>
  <header-one title="Home"></header-one>
</ion-header>


<ion-content>


  
  <travel-category></travel-category>
  


  <ion-row>
    <ion-col col-8 padding-left>
      <h2>Recommended Destinations</h2>
    </ion-col>
    
  </ion-row>
  <div>

  <recommend-destination></recommend-destination>
  </div>
  <ion-row>
    <ion-col col-8 padding-left>
      <h1 style="font-weight: bold;">Trips of the Day</h1>
    </ion-col>
  
  </ion-row>
  <div>
    <ion-item>
      <ion-slides>
        <ion-slide *ngFor = "let trip of publicTripList" >
          <div  (tap) = "tripDetails(trip.id)">
          <ion-card style="height: 500px;">
            <div *ngIf = "trip.data.tripFileURL[0]">
              <img [src] = "trip.data.tripFileURL[0]">
            </div> 
               
          </ion-card> 
            <div style="font-weight: bold;">
                {{trip.data.tripName}}
            </div>
           </div>
           <div> 
            <ion-item>
                <ion-row>
                <div>
                    <i class="fa fa-thumbs-up" aria-hidden="true" (tap) = "tripLike(trip.id)"></i>
                    Like
                </div>
                <!-- <div><i class="fa fa-thumbs-down" aria-hidden="true"></i>
                  DisLike
                </div> -->
                </ion-row>  
              </ion-item>      
            </div>        
        </ion-slide>

      </ion-slides>
      
    </ion-item>
    
  </div>
  
  
</ion-content>