<!-- Header  -->
<ion-header no-border title="Hotel Details">
  <ion-fab top right edge>
    <button ion-fab color="danger">
      <button ion-fab color="danger" (tap)="openLocationMap()">
        <ion-icon name="ios-pin-outline"></ion-icon>
      </button>
    </button>
  </ion-fab>
  <ion-buttons start>
    <button ion-button color="blue" clear (click)="dismiss()">
      <ion-icon name="arrow-back" style="zoom:2.0;"></ion-icon>
    </button>
  </ion-buttons>
</ion-header>
<!-- Content  -->
<ion-content fullscreen elestic-header *ngFor="let hotel of hotelsList">
  <!-- Hotel Location Map Icon  -->

  <!-- Image Slider of Hotel  -->
  <ion-slides
    *ngIf="slideData && slideData.length"
    slidesPerView="0"
    pager
    loop="true"
    effect="slide"
    autoplay="5000"
    class="image-slider"
    style="direction:ltr"
  >
    <ion-slide *ngFor="let img of hotel.fileURL">
      <img [src]="img" />
      <div class="slider-contents">
        <!-- Name of Hotel  -->

        <p class="name">{{ hotel.hotelName }}</p>

        <!--Reviews and Type of Hotel -->

        <p class="reviews">
          {{ hotel.hotelOverview }} | {{ hotel.hotelCategory }}
        </p>

        <!-- Hotel Ratings  
        <rating [(ngModel)]="hotelDetails.star" readOnly="false" max="{{hotelDetails.star}}" emptyStarIconName="ios-star-outline"
          halfStarIconName="star-half" starIconName="ios-star" nullable="true">
        </rating>-->
      </div>
    </ion-slide>
  </ion-slides>

  <!-- Details of Hotel  -->
  <section class="details-section">
    <ion-list no-lines>
      <ion-list-header>
        <h3>Description</h3>
      </ion-list-header>
      <ion-item text-wrap>
        <p text-justify [innerHTML]="hotel.hotelOverview"></p>
      </ion-item> </ion-list
    ><ion-list no-lines>
      <ion-list-header>
        <h3>Contact Information</h3>
      </ion-list-header>
      <ion-item text-wrap>
        <ion-icon name="ios-pin-outline" item-start color="color2"></ion-icon>
        <p>{{ hotel.hotelLocation }}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-globe-outline" item-start color="color2"></ion-icon>
        <p>{{ hotel.hotelMail }}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-call-outline" item-start color="color2"></ion-icon>
        <p>{{ hotel.hotelContactNo }}</p>
      </ion-item>
    </ion-list>
    <ion-list no-lines>
      <ion-list-header>
        <h3>Amenities</h3>
      </ion-list-header>
      <ion-item text-wrap>
        <p text-justify [innerHTML]="hotel.hotelAmenities"></p>
      </ion-item>
    </ion-list>
    <ion-list no-lines>
      <ion-list-header>
        <h3>Reviews</h3>
      </ion-list-header>
      <ion-item *ngFor="let reviews of reviewList">
        <ion-item>
          <p>{{ reviews.data.userName }}</p>
          <p>{{ reviews.data.hotelReview }}</p>
          <p right class="dateFont">{{ reviewDate | date }}</p>
        </ion-item>
      </ion-item>
      <ion-item>
        <ion-label floating>Add your Review</ion-label>
        <ion-input type="text" [(ngModel)]="reviews.hotelReview"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button (tap)="addReview()">Done</button>
      </ion-item>
    </ion-list>
  </section>
  <ion-item>
    <button ion-button (click)="bookNow(hotel.roomId)">Book Now</button>
  </ion-item>
</ion-content>

<!-- Footer  -->
