<!--
  Generated template for the TripDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Trip Details</ion-title>
    <ion-buttons start>
        <button ion-button color="blue" clear (tap)="dismiss()">
          <ion-icon name="arrow-back" style="zoom:2.0;"></ion-icon>
        </button>
      </ion-buttons>
    
  </ion-navbar>
  <ion-fab top right edge>
      <button ion-fab color="danger" (tap)="openLocationMap()">
        <ion-icon name="ios-pin-outline"></ion-icon>
      </button>
    </ion-fab>
  
</ion-header>


<ion-content padding *ngFor = "let trip of tripList">
        
        <h3>Trip Information</h3>
        <h5>{{trip.tripName}}</h5>
      <div>
        <h6 style="display:inline;">Description : </h6>
        <p style="display:inline;">  {{trip.tripDescription}}</p>
      </div>  
      <div>   
          <h6 style="display:inline;">Host Name :</h6> 
          <p style="display:inline;">{{trip.tripHost}}</p>
      </div> 
      <div>   
          <h6 style="display:inline;">From :</h6>
          <p style="display:inline;">{{trip.tripDepartureLocation}}</p> 
      </div>
      <div>  
          <h6 style="display:inline;">To : </h6>
          <p style="display:inline;">{{trip.tripReturnLocation}}</p>     
      </div> 
      <div>
          <h6 style="display:inline;">Departure :</h6>
          <p style="display:inline;">{{trip.tripDeparture}}</p> 
      </div>
      <div>        
          <h6 style="display:inline;">Return : </h6>
          <p style="display:inline;">{{trip.tripReturn}}</p> 
      </div>  
          <h3>Trip Plan</h3>
      <ion-item *ngFor = "let day of dayPlanList">
          <h6 style="display:inline;">{{day.placeholder}} </h6>
          <p style="display:inline;">{{day.value}}</p> 
      </ion-item>

  <!--Trip Services-->
        <h3>Trip Services</h3>
         <p>{{trip.tripServices}}</p> 
        
  <!--Trip Places-->
    <h3>Places to visit</h3>
    <ion-item>
      <ion-slides>
      <ion-slide  *ngFor = "let place of placeList" (tap)=placeDetail(place.id)>  
        <ion-card> 
          <h3>{{place.data.placeName}}</h3>
        </ion-card>  
      </ion-slide>
      </ion-slides>  
    </ion-item>
  
  <!--Trip Hotels-->
  <h3>Hotels to visit</h3>
  <ion-item>
    <ion-slides>
    <ion-slide  *ngFor = "let hotel of hotelList" (tap)=hotelDetail(hotel.id)>  
      <ion-card> 
        <h3>{{hotel.hotelName}}</h3>
      </ion-card>  
    </ion-slide>
    </ion-slides>  
  </ion-item>
    
     
  <!--Trip Resturants-->
    <h3>Resturants to visit</h3>
    <ion-item>
      <ion-slides>
      <ion-slide  *ngFor = "let resturant of resList" (tap)=resturantDetail(resturant.id)>  
        <ion-card> 
          <h3>{{resturant.resturantName}}</h3>
        </ion-card>  
      </ion-slide>
      </ion-slides>  
    </ion-item>
  <ion-item>
      <button ion-button (tap) = "addMember()">Join Trip</button>
   </ion-item>

<!--Trip Members-->
  <ion-list no-lines>
    <ion-list-header>
      <h3>Members </h3>
    </ion-list-header>
    <ion-item *ngFor = "let member of memberList">
        <p>{{member.data.memberName}}</p>
      
    </ion-item>
  </ion-list>

<!--Trip Reviews-->
    <ion-item>
        <ion-label floating >Add your Review</ion-label>  
        <ion-input type = "text"   [(ngModel)] = "review.tripReview" ></ion-input>
    
    </ion-item>
    <ion-item>
      <button ion-button (tap) = "addReview()">Done</button>   
    </ion-item>
    <ion-list no-lines>
        <ion-list-header>
          <h3>Reviews </h3>
        </ion-list-header>
        <ion-item *ngFor = "let reviews of reviewList">
        <ion-item>
          <p>{{reviews.data.userName}}</p>
          <p>{{reviews.data.tripReview}}</p>
          <p right class="dateFont">{{reviewDate | date}}</p>
        </ion-item>
        </ion-item>
    </ion-list>


  
</ion-content>
