<!-- Recommend Destination Slider  -->

 <ion-item >
    <h3>Hotels</h3>
    <!-- <ion-slides  padding-left padding-right #slider spaceBetween="10" slidesPerView="1.2" loop="true" effect="slide" autoplay="5000"
    style="direction:ltr"   >-->
    <ion-slides>
      <ion-slide *ngFor = "let hotel of hotelList" (tap) = "getHotel(hotel.id)"> 
        <ion-card >
          <!-- <div *ngIf = "hotel.data.fileURL[0]">
            <img [src] = "hotel.data.fileURL[0]">
          </div>  -->
             {{hotel.data.hotelName}}
        </ion-card> 
      </ion-slide >
    </ion-slides>
  </ion-item>
  <ion-item >
    <h3>Resturants</h3>
    <ion-slides>
        <ion-slide *ngFor = "let resturant of resList" (tap) = "getResturant(resturant.id)" >
          <ion-card >
            <!-- <div *ngIf = "resturant.data.fileURL[0]">
              <img [src] = "resturant.data.fileURL[0]">
            </div>  -->
               {{resturant.data.resturantName}}
          </ion-card> 
      </ion-slide>
    </ion-slides>
  </ion-item>
  <ion-item >
    <h3>Places</h3>
    <ion-slides  >
        <ion-slide *ngFor = "let place of placeList" (tap) = "getPlace(place.id)">
          <ion-card >
            <!-- <div *ngIf = "place.data.fileURL[0]">
              <img [src] = "place.data.fileURL[0]">
            </div>  -->
               {{place.data.placeName}}
          </ion-card> 
      </ion-slide>
    </ion-slides>
 </ion-item>
