<!-- Recommend Destination Slider  -->

 <ion-item >
    <h3>Hotels</h3>
    <!-- <ion-slides  padding-left padding-right #slider spaceBetween="10" slidesPerView="1.2" loop="true" effect="slide" autoplay="5000"
    style="direction:ltr"   >-->
    <ion-slides>
      <ion-slide *ngFor = "let hotel of hotelList" (tap) = "getHotel(hotel.id)"> 
        <ion-card >
           <div *ngIf = "hotel.data.fileUrl">
            <img [src] = "hotel.data.fileUrl">
           </div>
           
          </ion-card> 
          {{hotel.data.hotelName}}            
      </ion-slide >
    </ion-slides>
  </ion-item>
  <ion-item >
    <h3>Resturants</h3>
    <ion-slides>
        <ion-slide *ngFor = "let resturant of resList" (tap) = "getResturant(resturant.id)" >
          <ion-card >
            <div *ngIf = "resturant.data.resturantFileURL">
              <img [src] = "resturant.data.resturantFileURL">
            </div> 
          </ion-card> 
          {{resturant.data.resturantName}}
      </ion-slide>
    </ion-slides>
  </ion-item>
  <ion-item >
    <h3>Places</h3>
    <ion-slides  >
        <ion-slide *ngFor = "let place of placeList" (tap) = "getPlace(place.id)">
          <ion-card >
            <div *ngIf = "place.data.placeFileURL">
              <img [src] = "place.data.placeFileURL">
            </div> 
          </ion-card> 
          {{place.data.placeName}}
      </ion-slide>
    </ion-slides>
 </ion-item>
