<!--
  Generated template for the ChatBoxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-item *ngFor = "let u of uData"> 
  <ion-navbar>
    
    <!-- <ion-title>{{user$.uName}}</ion-title> -->
   
   
          <button ion-button start color="blue" clear (tap)="dismiss()">
            <ion-icon name="arrow-back" style="zoom:2.0;"></ion-icon>
          </button>
   
     
     
   <!-- <ion-col col-1>
    <ion-thumbnail>
      <img style="border-radius: 50%" [src] = "u.data.fileURL">   
    </ion-thumbnail>
    </ion-col> -->
   
    <ion-title>{{u.data.displayName}}</ion-title>
   
    
   
   
  
  </ion-navbar>
</ion-item>
</ion-header>
<ion-content padding>
     <div *ngFor = "let u of uData">
     <!-- <div   *ngFor = "let chat of chatCollection">  -->
      <!-- <ion-item *ngIf = "sent; then blue else grey">   -->
     <div *ngFor  = "let chat of chatCollection ">   
       
        <div *ngIf = "u.data.uid != chat.data.senderId" >
        
        <div id = "blue"> 
          <span style = "font-size: 12px; float: right; color: darkslategray;">{{chat.data.time | date: "hh:mm"}}</span>  
            <p style = "font-size: 18px">{{chat.data.messageBody  }}
            
            </p>  
        </div>
       </div>
       
       
       <div *ngIf = "u.data.uid == chat.data.senderId" > 
        <div id = "grey"> 
          <span style = "font-size: 12px; float: right; color: darkslategray; ">{{chat.data.time | date: "hh:mm"}}</span>  
          <p style = "font-size: 18px">{{chat.data.messageBody}}</p>
          
        </div>
      </div>
        <!-- </ion-item> -->
      
     </div> 
     </div>
    <!-- <div *ngFor  = "let reply of replyCollection">   
      <p id = "blue"> {{reply.data.messageBody}}</p> 
    </div> -->

   
    <!-- </div> -->
    
      <!-- <div style = "color:grey" *ngFor = "let reply of replyCollection">
        <h5> {{reply.data.messageBody}}</h5>
      </div>  
    -->
   


</ion-content>
<ion-footer>
  
    <ion-row>
      <ion-col col-10>
        <ion-input type = "text" placeholder = "Type your message" [(ngModel)] = "messageInterface.message"></ion-input>
      </ion-col>
      <ion-col col-2>
        <ion-item  (tap) = "sendMessage()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>Send</ion-item>
      </ion-col>  
    </ion-row>
      
</ion-footer>
